.filter-bar{

  .filter-wrap{
    margin-bottom: 15px;
  }

  .filterOn{
    background-color: #04A0C4;
    color: #FFF;
  }
  .filterOff{
    background-color: #FFF;
    color: #666;
  }

  .search {
    max-width: 200px;
  }
}
